.wrapper {
  width: 50%;
  max-width: 600px;
  margin: 2.4rem auto 15vh auto;
  padding: 5%;
  background-color: white;
  text-align: left;
  font-family: "interstate", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: var(--purple-4);
}

/* general mobile styling */
@media only screen and (max-width: 900px) and (min-height: 300px) {
  .wrapper {
    width: 90%;
  }
}