.wrapper {
  width: 80%;
  max-width: 900px;
  margin: 2.4rem auto 0 auto;
  padding: 10%;
  background-color: white;
  text-align: left;
  font-family: "interstate", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: var(--purple-4);
}