.wrapper {
  position: relative;
  z-index: 1;
  padding: 5vh 0;
  background: url(../../assets/nj-bridge.jpg), radial-gradient(circle, rgba(58,51,147,1) 35%, rgba(29,25,93,1) 100%);
  background-size: cover;
  background-blend-mode: overlay;
  font-family: "alternate-gothic-no-1-d", sans-serif;
  font-size: clamp(36px, 2.5vmax, 48px);
  font-weight: 400;
  font-style: normal;
  color: white;
}

.wrapper::after {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: ' ';
  background: radial-gradient(circle, rgba(58,51,147,0.75) 35%, rgba(29,25,93,0.75) 100%);
}

.heading {
  margin: 0;
  font-size: clamp(12px, 7vmax, 120px);
  line-height: clamp(28px, 8.5vmax, 180px);
  cursor: default;
}

.red {
  color: var(--red);
}

.stars {
  width: clamp(20px, 25%, 300px);
}

/* general mobile styling */
@media only screen and (max-width: 900px) and (min-height: 300px) {
  
}