.wrapper {
  flex-basis: 30%;
  padding: 1rem;
  border: 5px solid rgb(58, 51, 147);
  border-radius: 1rem;
}

.pic {
  width: 150px;
  height: 150px;
  margin: auto;
  border-radius: 0.5rem;
}

.name {
  margin-top: 1rem;
  color: var(--red);
  font-size: 1.5rem;
  font-weight: 700;
}

.title {
  color: var(--purple-3);
}

.subtitle {
  font-weight: 600;
  color: var(--purple-3);
}

/* general mobile styling */
@media only screen and (max-width: 900px) and (min-height: 300px) {
  .wrapper {
    flex-basis: 100%;
  }
}