.wrapper {
  padding: 5vh 0;
  border-top: 2px solid var(--purple-3);
  background-color: var(--purple-2);
}

.logo {
  width: clamp(75px, 25vmin, 170px);
}

/* general mobile styling */
@media only screen and (max-width: 900px) and (min-height: 300px) {
  
}